@import '../../styles/variables';
.tag {
  background: #FFFFFF;
  border-radius: 2px;
  font-size: .18rem;
  line-height: .18rem;
  border: 1px solid #000000;
  $danger-color: #F23B44;
  $warning-color: #F58704;
  $primary-color: #048DF5;
  padding: 0 0.1rem;
  &.danger {
    -webkit-transform : scale(0.75,0.75);
    color: $danger-color;
    border-color: $danger-color;
  }
  &.warning {
    color: $warning-color;
    border-color: $warning-color;
  }
  &.primary {
    color: $primary-color;
    border-color: $primary-color;
  }
}
