.auth-page {
  @include page-container;
  background-color: #f8f8f8;
}

.login-logo {
  width: 2.75rem;
  height: .46rem;
  margin: 30px 0 35px;
}

.login-form {
  @apply flex flex-col;
  padding: 0 .75rem;
  .login-input {
    margin-bottom: 10px;
  }
  .primary-button {
    margin-top: 50px;
    box-shadow: 0 0;
    height: 50px;
    border-radius: 25px;
    font-size: .32rem;
    &.disabled {
      background: #96CCF6;
    }
  }
  .login-tool-bar {
    @apply relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 .2rem;
    span:nth-child(1) {
      color: #9DA6BC;
    }
    span:nth-child(2) {
      @apply absolute;
      right: .2rem;
      color: #048DF5;
    }
  }
  .send-code-button {
    @apply h-full;
    border-left: 1px solid #B7B9BD;
    color: #048DF5;
    outline: none;
    width: 2.1rem;
    box-sizing: border-box;
    &:disabled {
      color: #9DA6BC;
      &.remaining {
        color: #778095;
      }
    }
  }

  .service-agreement-link {
    @apply text-center;
    margin-top: .4rem;
    color: #3C3D45;
  }
}

form .helper-text {
  padding: 0 .4rem;
  margin-top: 0.2rem;
  font-size: 0.24rem;
  color: #9DA6BC;
}
